{% extends 'layout.html' %}
{% block content %}
    <h2 class="mb-5">Contactos Hombres ...</h2>
    <div class="row">
        {% for contacto in contactos %}
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{{contacto.picture['large']}}" alt="..." />
                    <h5>{{contacto.name['first']}} {{contacto.name['last']}}</h5>
                    <p class="font-weight-light mb-0">{{contacto.phone}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}